.colorme {color:#2BA6CB;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #2BA6CB;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#2BA6CB;}
.flyout {border-top:2px solid #2BA6CB;}
.sectiontitle, .sectiontitlepost {border-left: 4px solid #2BA6CB;}
::-moz-selection{background:#2BA6CB;color:#fff;}
::selection{background:#2BA6CB;color:#fff;}
.ca-menu li:hover .ca-main {color: #2BA6CB;}
.topborder { border-top:4px solid #2BA6CB;}
 #subheader {background: #2BA6CB;border-top: 1px solid #2BA6CB;}
 #testimonials blockquote cite {color:#2BA6CB;}
 a.tagcloud, .tagcloud a {background:#2BA6CB;}
 ul.pagination li.current a {background: #2BA6CB;}
.saymore {color:#2BA6CB;}
dl.tabs dd.active { border-bottom: 3px solid #2BA6CB;}
ul.accordion > li.active {border-top: 3px solid #2BA6CB;}
.topborderslide {margin: 0;	padding: 0;	border-top: solid 4px #2BA6CB;}
.btn-slide {	background:#2BA6CB url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #2BA6CB url(../../images/minus.png) no-repeat;}
#footer {border-top:#2BA6CB 4px solid;}
.sf-shadow ul {border-top:2px solid #2BA6CB;}
.panel {border-left:4px solid #2BA6CB;}
.pagination-comments .current, #commentform input#submit,.readmore, .submit, div.alert-box.default,.colorbackground ,.pagination .current, .pagination a:hover{background:#2BA6CB;}
.back-top a:hover {background:#2BA6CB url(../../images/up-arrow.png) no-repeat center center;}
.bordercomment {border-top: 1px solid #2BA6CB;}
.pagination .currentpage, .recentpostsmore {background:#2BA6CB;}
.innerp:hover,.innerp:hover,.innerp a:hover,.innergalleryp:hover,.innerpthree:hover,.innerpthree:hover,.innerpthree a:hover,.innerpfour:hover,.innerpfour:hover,.innerpfour a:hover,.innergalleryp:hover{color:#2BA6CB}
.pagination-comments .current{background:#2BA6CB!important;}
.multi-sidebar .tabs a:hover {color: #2BA6CB;}
.multi-sidebar .tabs .ui-tabs-selected a {border-bottom: 2px solid #2BA6CB;}
a.projectdetail{background:#2BA6CB;}

.ui-tabs-active {border-bottom: 2px solid #2BA6CB;}
.vuzz-tabs ul.ui-tabs-nav .ui-state-active a {border-bottom: 3px solid #2BA6CB;}
.vuzz-pricing-table > div {border-top: #2BA6CB 3px solid;}
.vuzz-accordion .vuzz-accordion-trigger.ui-state-active {border-top: 3px solid #2BA6CB;}
.vuzz-pricing-table .vuzz-pricing-cost, .vuzz-pricing-table .vuzz-pricing-per {background:#2BA6CB;}

.ei-title h2{background:#2BA6CB;}